[user]
    name = Emanuel de Souza
    email = emanuelcds@gmail.com
    signingkey = 3E89BB78
[init]
    templatedir = ~/.git_template
[core]
    excludesfile = /Users/emanuel/.gitignore
    editor = /usr/local/bin/vim
[alias]
    recent-branches = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
    bsf = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(color:blue)%(authorname)%(color:reset) %(color:green)%(committerdate:relative)%(color:reset)'
[merge]
    tool = vimdiff
