[user]
	name = Emanuel Souza
    email = emanuelcds@gmail.com
[init]
    templatedir = ~/.git_template
	defaultBranch = main
[core]
    excludesfile = /Users/emanuel/.gitignore
    editor = nvim
[alias]
    recent-branches = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
    bsf = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(color:blue)%(authorname)%(color:reset) %(color:green)%(committerdate:relative)%(color:reset)'
    c = !git add -A && git commit
    p = !git push origin -u $(git rev-parse --abbrev-ref HEAD)
    re = !git fetch && git merge
    pr = !git rebase
    am = !git commit --amend

[merge]
    tool = vimdiff
[pull]
	rebase = false
	ff = only
